{{>header}}
{{>nav}}
<section class="my-5 container">
    <form method="post">
        {{#if message}}
        <div class="alert alert-danger">
            {{message}}
            </div>
        
        {{else if messageSuc}}
        <div class="alert alert-success">
            {{messageSuc}}
            </div>
        {{/if}}
        <div class="mb-3">
        <select class="form-select" name="op">
            <option value="" disabled selected>Choose Operation</option>
            <option value="add">Add</option>
            <option value="withdrow">Withdrow</option>
        </select>
        </div>
        <div class="mb-3">
            <input class="form-control" placeholder="Value" name="value">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary">Add Operation</button>
        </div>

    </form>    
</section>

{{>footer}}


